@use '../../_css/common.scss' as *;

.productHero {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 30px;
  width: 100%;

  @include small-break {
    grid-template-columns: 1fr;
  }
}

.mediaWrapper {
  position: relative;
  min-height: 400px;
  background-color: var(--color-dark-50);
  display: flex; /* Use flex to align the image */
  align-items: center; /* Center the image vertically */
  justify-content: center; /* Center the image horizontally */
  overflow: hidden; /* Ensure the image does not overflow */
  border: 1px solid var(--color-dark-30); /* Optional: Thin border */
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1); /* Optional: Box shadow */
  border-radius: 4px; /* Optional: Border radius */

  @include small-break {
    min-height: 250px;
  }
}

.image {
  width: 100%; /* Ensure the image fits the width of the wrapper */
  height: 100%; /* Ensure the image fits the height of the wrapper */
  object-fit: cover; /* Cover to maintain aspect ratio and fill the wrapper */
}

.details {
  display: flex;
  flex-direction: column;
  margin-top: 10px;
}

.categoryWrapper {
  display: flex;
  justify-content: flex-start;
  margin-bottom: 16px;
  margin-top: 8px;
}

.category {
  font-size: 16px;
}

.stock {
  color: var(--color-green-500);
}

.separator {
  color: var(--color-gray-500);
  padding: 0 10px;
}

.description {
  padding: 30px 0;
}
