@import '../../_css/common';

.relatedProducts{
  width: 100%;
}

.introContent {
  position: relative;
  margin-bottom: calc(var(--base) * 2);

  @include mid-break {
    margin-bottom: var(--base);
  }
}

.grid {
  display: grid;
  padding: 0;
  grid-template-columns: releat(3, minmax(30%, 1fr));
}

.column {

  @include mid-break {
    gap: 20px;
  }

  @include small-break {
    grid-template-columns: 10%;
  }
}

.title{
  font-weight: 400;
  margin-bottom: 30px;
}